<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Handler nativo iisnode (sem depender de ARR Proxy) -->
    <handlers>
      <add name="iisnode" path="backend/src/iisentry.cjs" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeApp" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="backend/src/iisentry.cjs" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
