<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Encaminha todas as requisições (GET, POST, API) para o backend Node.js rodando na porta 4000 -->
        <rule name="ProxyToNode4000" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="http://127.0.0.1:4000/{R:0}" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
